body{
    max-width: 80rem;
}

h2{
    margin-bottom: 1.5rem;
}

label, p{
    font-size: 1rem;
    font-weight: 600;
}

.InfoTemplate{
    text-align: center;
}

label, .input-group {
    margin-bottom: .5rem;
}

button {
    margin-bottom: 1rem;
}

#placeholder{
    overflow: auto;
    width: 100%;
    height: 480px;
    border-width: 1px;
    border-style: dotted;
}